# Python bytecode and cache files
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env/

# Log files
*.log

# VSCode settings
.vscode/

# Pytest cache
.pytest_cache/

# Selenium test outputs
screenshots/
test-reports/

.gitignore